
ProjektBD2/.vs/ProjektBD2/v15/.suo
ProjektBD2/.vs/ProjektBD2/v15/Server/sqlite3/db.lock
ProjektBD2/.vs/ProjektBD2/v15/Server/sqlite3/storage.ide
ProjektBD2/.vs/ProjektBD2/v15/Server/sqlite3/storage.ide-shm
ProjektBD2/.vs/ProjektBD2/v15/Server/sqlite3/storage.ide-wal
